body, h1, img {
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    background-color: #0099CC;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 2em;
}

.logo h1 {
    font-family: Arial, sans-serif;
}

.main-content {
    display: flex;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 10px;
    width: 20%;
}

.icon {
    padding: 10px;
    text-align: center; /* Center icons if they are smaller than their containers */
}

.icon img {
    max-width: 100%;
    height: auto;
}

.feed {
    width: 80%;
    padding: 10px;
    text-align: center; /* Center the image */
}

.feed img {
    max-width: 100%;
    height: auto;
}
