/* General Styles */
* {
    font-family: Inter;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

/* Navigation Styles */
#content {
    display: flex;
    justify-content: center;
}

nav#navbar {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 13.5rem;
    padding-top: 0.6rem;
    border-right: 2px solid #ccc;
    position: fixed;
    top: 0;
    left: calc(50vw - 35rem);
}

.nav-item,
#encabezado {
    color: #444;
    display: flex;
    padding: 15px 15px;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 40px;
    margin: 5px 5px 5px 10px;
    transition: background-color 0.4s ease;
}

.nav-item:hover {
    background-color: #ccc;
}

.nav-item.active {
    font-weight: bold;
}

.nav-item.active svg {
    fill: #444;
}

.nav-item svg,
#encabezado svg {
    margin-right: 0.7em;
    transform: scale(1.1);
}

#encabezado {
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    border-radius: 20px;
}

#encabezado-text {
    font-size: 1.7rem;
    font-weight: bold;
    color: #1e3c70;
    transition: color 0.2s ease;
}

#encabezado svg {
    transform: scale(1.5);
    margin-right: 0.7em;
    transition: color 0.2s ease;
}

#encabezado:hover #encabezado-text {
    color: #bb8800;
}

#encabezado:hover svg {
    color: #ddd;
}

#encabezado:hover {
    background-color: #1e3c70;
}

/* Main Content Styles */
#posts-container {
    padding: 20px;
    width: 40rem;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1125px) {
    nav#navbar {
        width: 4.3rem;
        left: calc(50vw - 25.8rem);
    }

    .nav-item,
    #encabezado-text {
        font-size: 0;
        justify-content: center;
    }

    .nav-item svg,
    #encabezado svg {
        margin: 0;
    }
}

/* Mobile View Styles */
@media (max-width: 820px) {
    nav#navbar {
        flex-direction: row;
        width: 100%;
        height: 60px;
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        align-items: center;
        z-index: 1000;
        padding-top: 0;
        border-top: 2px solid #ddd;
    }

    .nav-item {
        padding: 10px 5px;
        font-size: 0;
        flex-grow: 1;
        margin-top: 0;
    }

    .nav-item svg {
        margin: 0;
    }

    #posts-container {
        margin: 0;
        padding: 20px;
        padding-bottom: 80px;
        margin-top: 0px;
    }

    #encabezado {
        display: none;
    }
}

/* Post Styles */
.post {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.post .author {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.post .author img {
    border-radius: 50%;
    width: 2.5em;
    aspect-ratio: 1;
    object-fit: cover;
}

.post .author-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: #666;
}

.post .author-text .date {
    font-size: 0.85em;
    margin-top: 2px;
}

.post .body {
    margin-top: 20px;
}

.post .body h2,
.post .body p {
    color: #444;
}

.post .body h2 {
    font-size: 24px;
    margin: 0;
}

.post .body p {
    font-size: 16px;
    line-height: 1.5;
}

.post .body img {
    width: 99%;
    margin-bottom: 15px;
    border-radius: 20px;
}

/* Button Styles */
.buttons {
    display: flex;
    align-items: center;
    color: #555;
}

.buttons svg {
    transform: scale(0.8);
}

.buttons svg:hover {
    fill: rgb(214, 8, 8);
}

#like {
    margin-right: 3px;
}

#share {
    margin-left: 10px;
}

/* Select Styles */
select {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #555;
    transition: border-color 0.3s ease;
    text-align: center;
    font-weight: bold;
}

select:hover,
select:focus {
    border-color: #1e3c70;
    outline: none;
}
