body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #99f79648; /* Verde pastel */
    color: #ffffff; /* Blanco */
  }
  
  header {
    background-color: #a5eea9; /* Verde pastel */
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .top-bar h1 {
    margin: 0;
    flex: 1;
    text-align: center;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .right-corner {
    margin-right: 20px;
    margin-left: auto;
  }

  .right-corner img {
    width: 15%; 
    height: auto; 
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    position: relative;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    align-items: center;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: inherit;
    align-items: center;
    position: relative;
  }
  